@model IEnumerable<EnterPriseWeb.Models.content>
@{
    ViewBag.Title = "Index of IT Faculty";
    Layout = "~/Views/Shared/IndexBlog.cshtml";
}
@foreach (var item in Model)
{
    @Html.Raw("<div class=\"post\" style='padding: 20px; width: 1000px;'>" + "<ul style='list-style-type: none; background-color: #F1F1F1'>"
                       + "<li><h3>" + item.account.account_name + "</h3></li>"
                       + "<li><h3>" + item.content_id + "</h3></li>"
                       + "<li><h3>" + item.content_title + "</h3></li>"
                       + "<li>" + item.content_post + "</li></ul>" + "</div>"


       )
}  